.mentor-main {
  padding: 0rem 1rem;
}

.hero-image {
  height: 550px;
  background-image: url('../assets/mentor-hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-image-content {
  width: 35rem;
  padding: 1.5rem;
  border: 1px solid black;
  transform: translate(40%, 100%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: 2px solid gray;
}
.teach-us-text {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.become-ins-text {
  color: gray;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.5rem;
}

.get-started-button {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.start-text {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.list-reasons {
  display: flex;
  padding: 1rem 0rem;
}

.reason-image {
  font-size: 3rem;
}

.reason {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem;
}

.reason-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.small-text {
  font-weight: bold;
}

.small-text,.large-text {
  font-size: 1rem;
  color: gray;
  text-align: center;
}

.become-mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem 4rem 0rem;
  gap: 1.5rem;
}


.make-mentor-text {
  font-weight: bold;
  font-size: 2rem;
}

.join-teach-community {
  color: gray;
  font-size: 1rem;
}

.mentorship-main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.enter-details-text {
  font-weight: bold;
  font-size: 1rem;
}

.mentorship-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  width: 800px;
  margin: auto;
  border: 1px solid gray;
}

label {
  font-size: 1rem;
  color: gray;
}

#name-input, #email, #dob, #degree, #domain, #skills, #password, #confirm-password {
  height: 2rem;
  text-indent: 1rem;
  border: 2px solid gray;
  font-weight: bold;
}

#skills {
  resize:vertical;
  box-sizing: border-box;
}
#dob {
  text-indent: 0.5rem;
}

#name-input:focus, #email:focus, #dob:focus, #degree:focus, #domain:focus, #skills:focus, #password:focus, 
  #confirm-password:focus
{
  border: none;
  outline: 3px solid black;
  font-weight: bold;
}

.gender {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.gender div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.gender-label {
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
}

#submit {
  height: 2rem;
  background-color: black;
  color: white;
  border-radius: 5rem;
  border: none;
  font-weight: bold;
}