.mentee-page {
  padding: 1rem;
}

.mentor-search-input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid gray;
  width: 800px;
  margin: auto;
}

.mentor-search-input label {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.mentor-search-input input {
  height: 2rem;
  border: 3px solid lightgray;
  text-indent: 1rem;
  font-weight: bold;
}

.mentor-search-input input:focus {
  outline: 3px solid black;
  border: none;
}

.display-mentors {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  padding: 1rem;
  gap: 2rem;
  border: 1px solid gray;
}

.each-mentor {
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: gray;
  font-size: 1rem;
}

.each-mentor-name {
  font-size: 1.3rem;
  color: black;
  padding: 0rem 0rem 1rem 0rem;
  font-weight: bold;
}

.go-to-profile {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(70, 70, 70);
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}