.mentor-main {
  padding: 0rem 1rem;
}

.hero-image {
  height: 550px;
  background-image: url('../assets/mentor-hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-image-content {
  width: 35rem;
  padding: 1.5rem;
  border: 1px solid black;
  transform: translate(40%, 100%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: 2px solid gray;
}
.teach-us-text {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.become-ins-text {
  color: gray;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.5rem;
}

.get-started-button {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.start-text {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.list-reasons {
  display: flex;
  padding: 1rem 0rem;
}

.reason-image {
  font-size: 3rem;
}

.reason {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem;
}

.reason-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.small-text {
  font-weight: bold;
}

.small-text,.large-text {
  font-size: 1rem;
  color: gray;
  text-align: center;
}

.become-mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem 4rem 0rem;
  gap: 1.5rem;
}


.make-mentor-text {
  font-weight: bold;
  font-size: 2rem;
}

.join-teach-community {
  color: gray;
  font-size: 1rem;
}

.mentorship-main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.enter-details-text {
  font-weight: bold;
  font-size: 1rem;
}

.mentorship-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  width: 800px;
  margin: auto;
  border: 1px solid gray;
}

label {
  font-size: 1rem;
  color: gray;
}

#name-input, #email, #dob, #degree, #domain, #skills, #password, #confirm-password {
  height: 2rem;
  text-indent: 1rem;
  border: 2px solid gray;
  font-weight: bold;
}

#skills {
  resize:vertical;
  box-sizing: border-box;
}
#dob {
  text-indent: 0.5rem;
}

#name-input:focus, #email:focus, #dob:focus, #degree:focus, #domain:focus, #skills:focus, #password:focus, 
  #confirm-password:focus
{
  border: none;
  outline: 3px solid black;
  font-weight: bold;
}

.gender {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.gender div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.gender-label {
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
}

#submit {
  height: 2rem;
  background-color: black;
  color: white;
  border-radius: 5rem;
  border: none;
  font-weight: bold;
}

.no-mentors, .mentors-are-there {
  padding: 1rem;
}

.no-mentors {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.unavailable {
  color: gray;
  font-size: 1rem;
}

.sad-home {
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  background-color: black;
}

.mentor-basic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightgray;
  padding: 0rem 5rem;
}

.mentor-bio {
  color: gray;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1rem;
  padding: 2rem 3rem;
  border-left: 3px solid black;
}

.mentor-avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#male-mentor {
  background-image: url('../assets/male-mentor-avatar.jpeg');
}

#female-mentor {
  background-image: url('../assets/female-mentor-avatar.jpg');
}

.mentor-about-des {
  padding: 1rem 5rem;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-its-info, .des-its-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.about-its-label, .des-its-label {
  font-size: 1rem;
  font-weight: bold;
}

.about-its-matter, .des-its-matter {
  font-size: 0.9rem;
  color: gray;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: rgb(239, 239, 239);
  /* border: 0.1px solid lightgray; */
}

.contains-about-des-form {
  padding: 3rem;
}

.about-des-form {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  padding: 1rem;
  border: 1px solid gray;
}
.about-des-form label {
  color: gray;
  font-size: 1rem;
}

#mentor-about, #mentor-des {
  border: 3px solid gray;
  height: 100px;
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  text-indent: 1rem;
  padding-top: 1rem;
  font-weight: bold;
}

#mentor-about:focus, #mentor-des:focus {
  outline: 3px solid black;
  border: none;

}

.about-des-submit {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.mentor-videos-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid lightgray;
}

.menvdo-frame {
  height: 250px;
  width: 450px;
  object-fit: cover;
  object-position: center;
}

.about-update-not-specific {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  color: gray;
  font-size: 1rem;
}
