.user-login-page {
    width: 600px;
    margin: auto;
    padding: 5rem;
    border: 2px solid lightgray;
}

@media (max-width: 900px) {
    .user-login-page {
        width: 500px;
    }
}

@media (max-width: 700px) {
    .user-login-page {
        width: 400px;
    }
}

.login-text {
    text-align: center;
    color: black;
    font-size: 1.3rem;
    padding: 1rem;
}

.user-login-page-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.user-login-page-form input {
    height: 2rem;
    border: 2px solid gray;
    text-indent: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.user-login-page-form input:focus {
    outline: 2px solid black;
    border: none;
}

.login-page-signIn-button {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.not-reg-user {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.not-reg-user-text {
    color: gray;
    /* border: 1px solid gray; */
}

.not-reg-user-links {
    display: flex;
    gap: 1rem;
}

.signup-as-mentor-link, .signup-as-mentee-link {
    background-color: black;
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
}
