.app {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: whitesmoke;
  padding: 0rem 1rem;
}

.innerContainer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  height: 100%;
  margin: auto;
  border-bottom: 2px solid lightgray;
}

.innerContainer .logo {
  font-weight: bold;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.logo_link {
  text-decoration: none;
  color: black;
}

header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: gray;
  font-size: 1.1rem;
}

.button:hover {
  outline: 2px solid gray;
  box-sizing: border-box;
}

.ham,
.ham-fill {
  display: none;
}

@media (max-width: 800px) {
  header .navbar .button {
    display: none;
  }

  .ham,
  .ham-fill {
    display: block;
  }

  .ham {
    z-index: 100;
  }

  .ham-fill {
    display: grid;
    place-content: start;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    border-left: 2px solid gray;
    background-color: whitesmoke;
    z-index: 99;
  }

  .ham-inner {
    margin-top: 5rem;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    gap: 5rem;
  }
}

footer {
  padding: 1rem;
  padding-top: 2rem;
  border-top: 1px solid lightgray;
}

.info-byte-benders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
}

.touch {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.social-media,
.contact-info,
.email,
.person,
.gmail,
.copy-right-section {
  display: flex;
  flex-direction: column;
}

.social-media,
.contact-info,
.email,
.copy-right-section {
  gap: 1rem;
}

.person,
.gmail {
  gap: 0.5rem;
}
.collab,
.contact-info-text,
.head {
  font-size: 1.3rem;
  font-weight: bold;
}

.name,
.shake-hand div,
.email-image-text div,
.gmail,
.info,
.copy-right-section {
  font-size: 1rem;
  color: gray;
}

.link-to,
.email-image-text,
.shake-hand {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.copy-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
