.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 80px auto 200px;
}

header {
  width: 100%;
}

.innerContainer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
  max-width: 1500px;
  height: 100%;
  margin: auto;
  border-bottom: 2px solid gray;
}

.innerContainer .logo {
  font-weight: bold;
  color: navy;
  font-weight: 600;
  font-size: 1.5rem;
}

header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: bold;
}

.button:hover {
  outline: 2px solid #495973;
  box-sizing: border-box;
}

.ham,
.ham-fill {
  display: none;
}

@media (max-width: 800px) {
  header .navbar .button {
    display: none;
  }

  .ham,
  .ham-fill {
    display: block;
  }

  .ham {
    z-index: 100;
  }

  .ham-fill {
    display: grid;
    place-content: start;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    border-left: 2px solid gray;
    background-color: whitesmoke;
    z-index: 99;
  }

  .ham-inner {
    margin-top: 5rem;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    gap: 5rem;
  }
}
