@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
}

/* :root {
  --border-radius: 10px;
  --primary-color: black;
  --secondary-color: rgb(149, 149, 229);
  --text-color: white;
} */
